.d-flex {
  display: flex !important;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-start {
  align-items: start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-self-center {
  align-self: center !important;
}
