.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: start !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
