.p-3 {
  padding: $space-3;
}

.pt-3 {
  padding-top: $space-3;
}

.pl-3 {
  padding-top: $space-3;
}

.pr-3 {
  padding-top: $space-3;
}

.pb-0 {
  padding-bottom: $space-0;
}

.pt-0 {
  padding-top: $space-0;
}

.pr-0 {
  padding-right: $space-0;
}

.pl-4 {
  padding-left: $space-4;
}

.mt-4 {
  margin-top: $space-4;
}

.mb-3 {
  margin-bottom: $space-3;
}

.mt-3 {
  margin-top: $space-3;
}
