.text-light {
  font-weight: $font-weight-light;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.line-height-lg {
  line-height: $line-height-lg;
}

.line-height-sm {
  line-height: $line-height-sm;
}

.line-height-base {
  line-height: $line-height-base;
}

.text-xxl {
  font-size: $text-xxl;
}

.text-xl {
  font-size: $text-xl;
}

.text-lg {
  font-size: $text-lg;
}

.text-md {
  font-size: $text-md;
}

.text-sm {
  font-size: $text-sm;
}

.text-xs {
  font-size: $text-xs;
}

.text-xxs {
  font-size: $text-xxs;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}
