$primary: #f2c61a;
$secondary: #ffffff;
$btn-color: #000000;
$btn-bg: #ffffff;
$btn-hover-bg: #dadada;
$btn-hover-color: #000000;

@import "base";

.last-slide {
  background-image: url(../images/scorpio-study.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.bg-image {
  background-image: url(../images/scorpio-study.jpg);
}
