$primary: #f2c61a;
$secondary: #ffffff;
$btn-color: #000000;
$btn-bg: #ffffff;
$btn-hover-bg: #dadada;
$btn-hover-color: #000000;

.aw_slide--last {
  background-image: url(../images/scorpio-study-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.bg-image-1 {
  background-image: url(../images/scorpio-study-1.jpg);
}

@import "base";
