<a
  target="_blank"
  href="{{data.target}}"
  style="text-decoration: none;display: inline-block; position: absolute;"
>
  <div
    id="aw_ad"
    style="width: 300px; height: 250px; overflow: hidden;"
    class="d-flex flex-column bg-gradient"
  >
    <div class="aw_top-banner">
      <img
        class="aw_top-banner_logo"
        src="images/appway-logo--light.svg"
        width="80"
        height="21"
      />
    </div>
    <div
      style="height: 100%; width: 100%; overflow: hidden;"
      class="aw_main flex-grow"
    >
      <div
        class="aw_slide h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h1 class="text-bold text-xl line-height-sm text-secondary">
          {{data.slide.[0].textArea.[0]}}
          <span class="text-sm text-bold line-height-lg text-primary"
            >{{data.slide.[0].textArea.[1]}}</span
          >
        </h1>
      </div>

      <div
        class="aw_slide h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h2 class="text-xl text-bold line-height-sm text-secondary">
          {{data.slide.[1].textArea.[0]}}
          <span class="text-primary">{{data.slide.[1].textArea.[1]}}</span>
        </h2>
      </div>

      <div
        class="aw_slide h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h2 class="text-secondary text-xl text-bold line-height-sm">
          {{data.slide.[2].textArea.[0]}}
          <br />
          <span class="text-primary">{{data.slide.[2].textArea.[1]}}</span>
        </h2>
      </div>

      <div
        class="aw_slide h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h2 class="text-secondary text-bold text-xl line-height-sm">
          {{data.slide.[3].textArea.[0]}}
        </h2>
        <span class="text-primary text-xl text-bold line-height-lg"
          >{{data.slide.[3].textArea.[1]}}</span
        >
        <button class="aw_btn mt-3">
          {{data.slide.[4].textArea.[0]}}
        </button>
      </div>
    </div>
  </div>
</a>
