<a
  target="_blank"
  href="{{data.target}}"
  style="text-decoration: none;display: inline-block; position: absolute;"
>
  <div
    id="aw_ad"
    style="background-color: #222222; width: 728px; height: 90px; overflow: hidden; padding: 15px; background-size: 30%"
    class="d-flex flex-row justify-content-center bg-image bg-no-repeat bg-center-right"
  >
    <div
      class="aw_top-banner d-flex flex-column justify-content-center left-0"
      style="position:relative; padding: 0;"
    >
      <img
        class="aw_top-banner_logo"
        src="{{root}}images/appway-logo--light.svg"
        width="80"
        height="21"
      />
    </div>
    <div
      style="height: 100%; width: 100%; overflow: hidden;"
      class="aw_main flex-grow"
    >
      <div
        class="aw_slide pl-4 h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
        style="padding-top:"
      >
        <h1 class="text-light text-md line-height-sm text-secondary">
          {{data.slide.[0].textArea.[0]}}
        </h1>
        <span class="text-xs text-bold line-height-lg " style="color: #f2c61a;"
          >{{data.slide.[0].textArea.[1]}}</span
        >
      </div>

      <div
        class="aw_slide pl-4  h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h2 class="text-xs text-bold line-height-md text-secondary">
          {{data.slide.[1].textArea.[0]}}
          <span  class="text-primary">{{data.slide.[1].textArea.[1]}}</span>
        </h2>
      </div>

      <div
        class="aw_slide pl-4  h-100 d-flex flex-column justify-content-center align-items-start aw_slide--hide "
      >
        <h2 class="text-xs text-bold line-height-md text-secondary">
          {{data.slide.[2].textArea.[0]}}

          <span  class="text-primary"">{{data.slide.[2].textArea.[1]}}</span>
        </h2>
      </div>

      <div
        class="aw_slide pl-4  h-100 d-flex flex-row justify-content-start align-items-center aw_slide--hide "
        style="padding: 0;"
      >
        <div style="max-width: 180px;">
          <h2 class="text-light text-xs line-height-sm text-secondary">
            {{data.slide.[3].textArea.[0]}}
          </h2>
          <span
          class="text-primary"
            class="text-xxs text-bold line-height-lg"
            >{{data.slide.[3].textArea.[1]}}</span
          >
        </div>
        <button class="aw_btn align-self-center" style="margin-left: 15px;">
          {{data.slide.[4].textArea.[0]}}
        </button>
      </div>
    </div>
  </div>
</a>
